html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}
.container{
    position: absolute;
    width:100%;
    height:100%;
}
.container .canvas{
	position: absolute;
	top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
    background: #fff;
}

/*------------font-------------*/
body{
	font-family:Helvetica,Arial,sans-serif;
	font-size: 16px;
}
